/* general styles */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Muli', sans-serif;
  margin: 0;
  background-color: ghostwhite;
}

p {
  margin: 0;
}

.button {
  border: none;
  border-radius: 30px;
  padding: 20px;
  transition: all 300ms;
  cursor: pointer;
  outline: none;
}

.blue-button {
  background-color: #419BD3;
}

.blue-button:hover {
  background-color: #009DFF;
}

.full {
  width: 100%;
  height: 100%;
}

.expandable {
  height: auto;
}

.text-center {
  text-align: center;
}
/* end gereral styles */

/* navigation menu */
#nav-button {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 300%;
  z-index: 1000;
  cursor: pointer;
}

nav {
  position: fixed;
  left: -201px;
  height: 100%;
  width: 200px;
  background-color: #EAEAF2;
  transition: all 400ms ease-out;
  border-right: 1px solid black;
  text-align: center;
  z-index: 999;
}

nav.open {
  visibility: visible;
  left: 0;
}

nav img {
  width: 150px;
  height: 150px;
  margin: 0 25px;
  margin-top: 50px;
  border-radius: 50%;
}

nav h4 {
  font-size: 130%;
  margin: 0;
}

nav h5 {
  margin: 0;
  padding: 5px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}

nav p {
  padding: 10px;
  font-size: 140%;
}

nav p a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

nav p a:hover {
  color: #DCC2B5;
}
/* end navigation menu */

/* landing container */
#container {
  width: 100%;
  height: 100%;
  transition: opacity 200ms;
}

#main {
  background-image: url(/images/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

#main .fill {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: table;
}

#main .content {
  display: table-cell;
  vertical-align: middle;
  font-size: 200%;
  color: white;
  padding: 0 10px;
}

#main .content button {
  margin-top: 15px;
  font-size: 50%;
}

#scroll-down {
  position: absolute;
  width: 30px;
  left: calc(50% - 15px);
  bottom: 10px;
  color: white;
  font-size: 30px;
  animation: arrow-down 400ms infinite;
}
/* end landing container */

/* about container */
#about .content {
  width: 100%;
  height: 100%;
  display: table;
}

#about .content div {
  width: 100%;
}

#about .content img {
  width: 100%;
}

#about .content div p {
  padding: 10px 30px;
  text-align: justify;
  line-height: 1.5;
}

div p a {
  color: red;
  cursor: pointer;
}

div p a:hover {
  font-weight: bold;
}
/* end about container */

/* services container */
#services {
  display: table;
}

.horizontal-container {
	display: table;
	height: 100%;
	width: 100%;
}

.horizontal-container > div {
	display: block;
	width: 100%;
  padding: 10px 0;
}

.container {
  background-color: lightblue;
  border-radius: 5px;
	display: table;
	height: 100%;
	width: 100%;
  margin: auto;
	text-align: center;
  transition: all 400ms;
}

.container:hover {
  background-color: #ADDAFF
}

.container > div {
	display: table-row;
}

.container > div > div {
	display: table-cell;
}

.service-button > div {
	vertical-align: bottom;
	padding: 20px 0;
}

.service-icon i {
  padding-top: 20px;
  font-size: 400%;
}

.service-description p {
  vertical-align: middle;
  padding: 10px 20px;
  text-align: justify;
  line-height: 1.8;
}

.service-button button {
  font-size: 80%;
}
/* end services container */

/* contact form container */
#contact {
}
/* end contact form container */

/* footer container */
#footer {
  width: 100%;
  background-color: #419BD3;
  text-align: center;
  color: white;
}

#footer p {
  padding: 40px;
}

.social-icons a {
  padding: 10px;
  cursor: pointer;
  font-size: 400%;
  color: white;
}

.social-icons a:visted {
  color: white;
}

.social-icon-text {
  position: relative;
}
/* end footer container */

/* responsive media queries */
@media screen and (min-width: 768px) {
  #about .content div {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }

  #about .content img {
    border-radius: 50px;
    padding: 10px;
    position: relative;
    top: 2px;
  }

  .scale-font {
    font-size: 110%;
  }

  .horizontal-container > div {
	  width: 33%;
    display: table-cell;
  }

  .container {
    width: 95%;
    border: 1px solid black;
  }

}

@media screen and (min-width: 1280px) {
  .scale-font {
    font-size: 130%;
  }
}

@media screen and (max-height: 560px) {
  nav img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-height: 510px) {
  nav img {
    width: 75px;
    height: 75px;
  }
}

@media screen and (max-height: 485px) {
  nav img {
    display: none;
  }

  nav h4 {
    margin-top: 75px;
  }
}

@media screen and (max-height: 430px) {
  nav h4, nav h5 {
    display: none;
  }

  nav p:first-of-type {
    margin-top: 75px;
  }
}

@media screen and (max-height: 350px) {
  nav p:first-of-type {
    margin-top: 25px;
  }
}
/* end responsive media queries */

/* animations */
@keyframes arrow-down {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0px;
  }
}
/* end animations */